// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors

$color-primary:#85bc4d;
$color-footer-dark: #373e53;
$color-bg-light: #e7e7e8;
$color-font-main: black;
$color-font-light:#707070;
$color-bottom-footer:#1a1f2e;

// Font-size 
