@import "../../../sassStyle/mixins.scss";

header{

    a{
        color:white !important;
    }
    .main-nav{

        ul{
            margin-top: 10px;
            li{
                margin-right: 20px !important;
                
                a{
                   
                    
                    padding-bottom: 5px;
                }
                a.active{
                    border-bottom: 2px solid white;
                }
            }

           
        }
    }
    @include customMinMaxBreakPoint(370, 768)
    {
        .main-nav{
            background-color: rgba(0, 0, 0, 0.55);
        }
    }
}